 #root {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

 .background-table-img {
     margin: 0 auto;
     width: 80vw;
     height: 80vh;

     background-image: url("/src/assets/images/poker-table2.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

     display: flex;
     align-items: center;
     justify-content: center;
     justify-self: baseline;
     align-self: center;
 }

 root {
     font-size: 2rem;
     margin: 0 auto;

 }


 .game-table-img {
     max-width: 100%;
     max-height: 100%;
     width: auto;
     height: auto;
     object-fit: contain;
     display: block;

 }

 .game_table_card_size {
     width: 10vh;
     padding: 0.2rem;

 }

 .hide {
     display: none;
 }

 .game-container {
     margin: 0 auto;
     align-items: center;
     justify-content: center;
     width: 100vh;
     height: 40vh;
 }

 .player-section {
     margin: 0 auto;
     display: flex;
     flex-direction: row;

     justify-content: center;
     align-items: center;
     height: 20vh;
 }

 .game-table-section {
     height: 20vh;
 }

 .bet-btn {
     font-size: 0.8rem;
     padding: 0.1rem;
     border-radius: 0.1rem;
     margin: 0.1rem;

 }

 .game-table-wrapper {
     background-image: "src\assets\images\poker-table.png";
 }

 .table-img {
     z-index: -1;
     transform: rotate(90deg);
 }


 .hands {
     width: 50%;
     justify-content: center;
     align-content: center;
 }

 .btn-box {

     margin: 0 auto;
     display: flex;
     width: 100%;
     flex-direction: row;

     justify-content: center;
     align-items: center;
 }

 .center {
     /* margin: 0 auto; */
     display: flex;
     /* flex-direction: column; */

     justify-content: center;
     align-items: center;
 }

 .action {
     width: 50%;
 }